{% extends 'sto/base.html' %}
{% load bootstrap4 %}

{% block page %}
<div class="col-lg-offset-2 col-lg-8">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title text-center">
        Добавить услугу
      </h4>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Добавить</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
