{% extends 'base.html' %}

{% block page %}СТО{% endblock %}

{% block menu %}

{% url 'sto-account' as sto_account_url %}
{% url 'sto-services' as sto_service_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{ MEDIA_URL }}{{ request.user.sto.logo }}" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path == sto_account_url %} active {% endif %}" href="{% url 'sto-account' %}">Профиль</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == sto_service_url %} active {% endif %}" href="{% url 'sto-services' %}">Услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sto-sign-out' %}">Выйти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
