{% extends 'sto/base.html' %}

{% block page %}
<div class="card">
  <div class="card-head">
    <h4 class="card-title text-center">
      Услуги
    </h4>
  </div>
  <div class="card-body">
    <a href="{% url 'service-add' %}" class="btn btn-success">Добавить услугу</a>
  </br>
  </br>
    <table class="table table-bordered table-hovered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th>Описание</th>
          <th>Цена</th>
          <th class="text-center">Изображение</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
          <tr>
            <td scope="row">{{ service.id }}</td>
            <td><a href="{% url 'service-edit' service.id %}">{{ service.name }}</a></td>
            <td>{{ service.description }}</td>
            <td>{{ service.price }}</td>
            <td class="text-center"><img class="img-rounded"
              src="{{MEDIA_URL}}{{ service.image }}" width="100" height="50"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
