{% extends 'sto/base.html' %}

{% block page %}
  <div>Добрый день, {{ request.user.get_full_name }}</div>
  <div>Обьект: {{ request.user.sto.name }}</div>
    <h1 class="mt-1 text-center">Услуги</h1>
      <table class="table table-bordered table-hovered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th class="text-center">Изображение</th>
          </tr>
        </thead>
        <tbody>
          {% for service in services %}
            <tr>
              <td scope="row">{{ service.id }}</td>
              <td><a href="{% url 'service-edit' service.id %}">{{ service.name }}</a></td>
              <td>{{ service.description }}</td>
              <td>{{ service.price }}</td>
              <td class="text-center"><img class="img-rounded" src="{{MEDIA_URL}}{{ service.image }}" height="50"></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'service-add' %}" class="btn btn-success">Добавить услугу</a>

{% endblock %}
