{% extends 'sto/base.html' %}

{% block page %}
<div class="card">
  <div class="card-head">
    <h1 class="mt-5 text-center">Услуги</h1>
  </div>
  <div class="card-body"
  </br>
  </br>
      <table class="table table-bordered table-hovered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th class="text-center">Изображение</th>
          </tr>
        </thead>
        <tbody>
          {% for service in services %}
            <tr>
              <td scope="row">{{ service.id }}</td>
              <td><a href="{% url 'service-edit' service.id %}">{{ service.name }}</a></td>
              <td>{{ service.description }}</td>
              <td>{{ service.price }}</td>
              <td class="text-center"><img class="img-rounded"
                src="{{MEDIA_URL}}{{ service.image }}" height="50"></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <a href="{% url 'service-add' %}" class="btn btn-success">Добавить услугу</a>
  </div>
</div>

{% endblock %}
