{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
  <body class="bg-register">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-4">
          <br/>
          <br/>
          <br/>
          <div class="card card-body">
            <div class="card-body">
              <h3 class="text-center">{% block heading %}{% endblock %}</h3>
              <br/>
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
